@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
}
body,html{
  height: 100vh;
  width: 100vw;
  background: blue;
  background-repeat: no-repeat;
  background-size: contain;
  
}
h1{
  padding: 10px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.8em;
}