@charset "UTF-8";

:root{
  --fundo: #FFF5F0;
  --principal: #F7A8A8;
  --destaque: #B4D8E7;
  --texto: #403D39;
  --verde: #A3B18F;
}
*{
  margin:0px;
  padding: 0px;
  
}

body{
  background-color: var(--fundo);
  text-align: justify;
}
header{
  padding-top: 50px;
}
header#cabecalho1{
  background-image: url('fotos/pexels-artempodrez-6823458.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
h1{
  font-variant: small-caps;
}
header > h1,p{
  color: white;
  text-align: center;
  text-shadow: 2px 1px 2px black;
}
header > p{
 font-weight: bold;
 padding-bottom: 50px;
}
nav{
  background-color: #A81C1C;
  padding: 20px;
}
nav > a{
  background-color: #BC4D4D;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
nav > a:hover{
  background-color: #A81C1C;
  border: 2px solid #BC4D4D;
}
ul,ol{
  text-align: justify;
  margin: 20px;
}
ol.lt{
  background-color: #00000085;
  padding: 30px;
}
ol.lt > li{
  color: #A81C1C;
  font-size: 1.5em;
}
ul > li{
  color: white;
}
.normal{
  background-color: white;
}
#bolo{
  background: black url('fotos/pexels-merve-205352359-16223357.jpg') right center no-repeat fixed;
  background-size: cover;
}
#doces{
  background: black url(fotos/pexels-daka-11345218.jpg) right center no-repeat fixed;
  background-size: cover;
}
section{
  padding: 10vh;
  line-height: 2em;
}
section > p{
  margin-top: 15px;
  text-indent: 20px;
}
footer{
  text-align: center;
  background-color: black;
  color: white;
}