@charset "UTF-8";

/*
PALETA DE CORES
VERDE: #49a09d
lista: #5f2c82
*/

*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body,html{
  background: #4B155B;
  height: 100vh;
  width: 100vw;
}
main{
  position: relative;
  height: 100vh;
  width: 100vw;
}
section#login{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  overflow-x: hidden;
  
  background: white;
  width: 250px;
  height: 500px;
  border-radius: 20px;
  
}
section#login > div#foto{
  display: block;
  background: #4B155B url(exemplo.jpg) left bottom no-repeat;
  background-size: cover;
  height: 200px;
}
section#login > div#formulario > h1 {
  text-align: center;
  padding: 15px 5px 5px 5px; 
  margin-bottom: 10px;
}
section#login > div#formulario > p{
  font-size: 1.2em;
  padding: 5px;
}
div#formulario  > form{
  padding: 10px;
  
}
form > input[type=submit]{
  background-color: #75C996;
  display: block;
  padding: 10px;
  width: 100%;
  margin: 10px 0px 10px 0px;
  font-size: 1.2em;
}
form > input[type=submit]:hover{
  background: #365141;
}
form > a{
  border: 1px solid #37B86A;
  color: black;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  padding: 5px;
  width: 100%;
  height: 40px;
}
form > a:hover{
  background:  #37B86A;
}
div.campo{
  display: block;
  background-color: #7C489B;
  width: 100%;
  height: 30px;
  margin: 5px 0px;
  border-radius: 5px;
}
div.campo > input{
  background: #65BAAA;
  padding: 5px;
  border-radius:5px;
  
  transform: translateY(5%);
}