@charset "UTF-8";

:root{
  --fundo: #FFF5F0;
  --principal: #F7A8A8;
  --destaque: #B4D8E7;
  --texto: #403D39;
  --verde: #A3B18F;
}
*{
  margin:0px;
  padding: 0px;
  
}

body{
  background-color: var(--fundo);
  text-align: justify;
}
header{
  background-image: url('fotos/pexels-artempodrez-6823458.jpg');
  background-position: center center;
  background-size: 100%;
  height: 150px;
}
nav{
  background-color: black;
}
nav > a{
  margin: 20px;
;
}
main{
  background-color: var(--destaque);
  margin: 0px 10px;
}
#indece{
  background-color: rgba(0,0,0,0.40);
  padding: 20px;
  line-height: 30px;
}
article > h2{
  color: var(--principal);
}
article > #ti{
  text-align: center;
}
article{
  padding: 10px;
}
article > p{
  text-indent: 20px;
  line-height: 30px;
  font-weight: bold;
  color: var(--texto);
}
article > img {
  width: 65%;
  position: relative;
  left: 80px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px black;
}
#coclusao{
  text-align: center;
}
footer{
  background-color: black;
  color: white;
  text-align: center;
}
.apresentacao{
  width: 150px;
}

