@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
}
boby, html{
  width: 100vw;
  height: 100vh;
}
body{
  background-image: linear-gradient(to top, #99C0C4,#56D39A);
}
#principal{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

}

#bordas{
  background-color: #44A0D0D6;
  width: 350px;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}
h1{
  margin: 10px;
}